/* LAYOUT */
* {
margin: 0;
padding: 0;
}

html{
    box-sizing: border-box;
    font-family: 'Smythe', cursive;
}

body {
    margin: 0;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;    
}

.container{
    position: relative;
    max-width: 600px;
    min-width: 375px;
    width: 100%;
    background: #fff;
} 

.thank-you-modal{
    text-align: center;
    font-size: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 400px;
    padding: 70px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
    position: fixed;
}

.exit-arrow{
    color: #16DB99;
    font-size: 30px;
    padding: 20px 45px;
}

.exit-arrow:hover{
    color: #10a775;
    cursor: pointer;
}

.modal-body{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-width: 525px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.9);
    position: fixed;
    
}

.header{
    background-color: green ;
    background-image: url("images/burger.jpg");
    padding: 50px 0;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 67px;
}

.food-container, .header-info, .order-container{
    padding: 0 45px;
    flex-wrap: wrap;
}

.food-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 67px;
  padding-bottom: 50px;
  position: relative;
}

.food-container::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0px;
}

@media (max-width: 610px) {
  .food-container{
      flex-direction: column;
      text-align: center;
  }
  
    .icons{
    margin: 0 auto;

    } 
}

.icons{
   display: flex;
   margin-left: auto;

}

    .item-icon{
   font-size: 50px;
   padding: 10px;
    
}

    .item-icon:disabled{
    color: darkgrey;
   font-size: 50px;
   padding: 10px;
   cursor: not-allowed;
    
}

.item-icon:hover{
   color: darkgrey;
}

.item-info {
    
  word-break: break-all;
}

.order-container{
   display: none;
   flex-direction: column;
}

.order{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-bottom: 28px;
}

.total-price{
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-top: 28px;
  border-top: solid 2px #393333;
}

.remove-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;
    color: #bbb;
    padding: none;
    font-weight: 400;
    background: none;
    border: none;
    padding: 15px;
   
}

.button-green{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    display: block;
    background: #16DB99;
    border-radius: 3px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin: 50px 0 50px 0;
}

.button-green:hover{
    background: #10a775;
    cursor: pointer;
}

.input{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: 15px 0;
}

form{
  padding: 25px 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* FONTS */

.total-cost{
    font-weight: bold;
}

h1{
    font-size: 39px;
}

.h2{
    font-size: 22px;
}

h3{
    font-size: 28px;
    padding-bottom: 10px;
}

.your-order-text{
    text-align: center;
    padding-bottom: 64px;
}

p{
    font-size: 16px;
    padding-bottom: 10px;  
}

.food-emoji{
    font-size: 70px;
    padding-right: 10px;
}

.order p, .total-price p{
   padding: 10px;
   margin-left: auto;
}

.modal-body p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0 0 0;
    text-align: center; 
}

.gif{
    width: 100px;
}